.purchase-info__cards {
    grid-area: cards;
    /*    */
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
    margin-top: 32px;
    justify-items: center;
}

@media screen and (min-width: 768px) {
    .purchase-info__cards{
        margin-top: 3.125vw;

        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-areas: 
        "one two"
        "three three";
    }
}

@media screen and (min-width: 1025px) {
    .purchase-info__cards{
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 350px));
        grid-template-areas: 
        "one two three"
    }
}

@media screen and (min-width: 1280px) {
    .purchase-info__cards{
        margin-top: 40px;
    }
}