.main-ofer__title {
    font-family: Raleway;
    font-size: 6.933333333vw;
    font-weight: 700;
    line-height: 8.266666667vw;
    letter-spacing: 0em;
    text-align: left;
    
    width: 100%;
    max-width: 518px;
}

@media screen and (min-width: 461.5384615px) {
    .main-ofer__title {
      font-size: 32px;
      line-height: 38.4px;
    }
}
  
  @media screen and (min-width: 768px) {
    .main-ofer__title {
      font-size: 4.166666667vw;
      line-height: 5vw;
      width: 67.44791667vw;
      max-width: 674px;
    }
}
  
  @media screen and (min-width: 1008px) {
    .main-ofer__title {
      font-size: 42px;
      line-height: 50.4px;
    }
}