.main-ofer {
    margin-top: 32px;
}

@media screen and (min-width: 768px) {
    .main-ofer {
        margin-top: 4.166666667vw;
    }
}

@media screen and (min-width: 1224px) {
    .main-ofer {
        margin-top: 51px;
    }
}