.main-ofer__contac-us_text {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
    letter-spacing: 0em;
    text-align: left;
    color: #F24957;
  
    margin: auto;
}